<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.mentor.nucleus.bp.core.function.gen.genFunctions"
            objectClass="com.mentor.nucleus.bp.core.Package_c">
         <action
               class="com.mentor.nucleus.bp.core.function.gen.action.GenerateFunctionsFromList"
               icon="icons/function.gif"
               id="com.mentor.nucleus.bp.core.function.gen.action1"
               label="Generate Functions From List..."
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
   </extension>

</plugin>
